### Install the Vertex AI SDK: Open a terminal window and enter the command below. You can also install it in a virtualenv  https://googleapis.dev/python/aiplatform/latest/index.html
pip install --upgrade google-cloud-aiplatform
gcloud auth application-default login
